<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <title>諸上ゼミ16期生選考ページ</title>
  <meta name="Generator" content="Cocoa HTML Writer">
  <meta name="CocoaVersion" content="1265.21">
  <style type="text/css">
    p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px 'Hiragino Mincho ProN'; color: #0000ee}
    p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; font: 26.0px 'Hiragino Mincho ProN'; min-height: 39.0px}
    p.p3 {margin: 0.0px 0.0px 0.0px 0.0px; font: 26.0px 'Hiragino Mincho ProN'}
    p.p4 {margin: 0.0px 0.0px 0.0px 0.0px; font: 17.0px 'Hiragino Mincho ProN'; min-height: 26.0px}
    p.p5 {margin: 0.0px 0.0px 0.0px 148.4px; text-indent: -148.5px; font: 17.0px 'Hiragino Mincho ProN'}
    p.p6 {margin: 0.0px 0.0px 0.0px 0.0px; font: 17.0px 'Hiragino Mincho ProN'}
    li.li8 {margin: 0.0px 0.0px 0.0px 0.0px; font: 14.0px 'Hiragino Mincho ProN'; color: #0000ee}
    span.s1 {text-decoration: underline}
    span.s2 {font: 24.0px 'Hiragino Mincho ProN'; text-decoration: underline}
    span.s3 {font: 24.0px 'Hiragino Mincho ProN'}
    ul.ul1 {list-style-type: disc}
  </style>
</head>
<body>

<p class="p2"><br></p>
<p class="p3">諸上ゼミ16期生選考ページ</p>
<p class="p4"><br></p>
<p class="p5">選考方法: 課題＋面接<span class="Apple-converted-space"> </span></p>
<p class="p6">面接日：4月1日（金）</p>
<p class="p6">面接会場：社会学部棟615教室</p>
<p class="p4">※当日の控室は617教室です。面接の進行状況により時間が前後する場合がありますので、早めに控室にてお待ちください。</p>
<p class="p4"><br></p>
<p class="p6">選考では　<span class="s2"><b>事前課題</b></span><span class="s3"><b>　</b></span><span class="s2"><b>面接準備シート</b></span>　の２点の提出が必要です。</p>
<p class="p4"><br></p>

                          
                          
<p class="p8"><b>事前課題について</b></p>
<p class="p6">こちらから<a href="https://1drv.ms/w/s!AkPrHGNntEvJhzCE1uePkSG92z-o?e=t2QdB4">「16期　事前課題」</a>をダウンロードして利用してください</p>
<p class="p4"><br></p>

<p class="p8"><b>面接準備シートについて</b></p>
<p class="p6">こちらから<a href="https://1drv.ms/w/s!AkPrHGNntEvJhy9WjJnn1NyhVMqx?e=kIi58f">「16期　面接準備シート」</a>をダウンロードして利用して下さい</p>
<p class="p4"><br></p>
                          
                          <br><br>

<p class="p6">以上の２点を記入の上で、Wordファイルをメールに添付し、<span class="s1"><b>3月30日　17：00まで</b></span>にmorozemi15th@gmail.comに送信して下さい。</p>
<p class="p4"><br></p>
<br><br>

<p class="p4"><br></p>
<p class="p8"><span class="s2"><b>【注意点】</b></span></p>
<p class="p6">①<b>Wordファイルのダウンロードはパソコンから行ってください</b></p>
<p class="p6">②<b>課題の提出はメールでのみ行います。メールを受け取り次第、「受理完了メール」を送信します。</b></p>
<p class="p6">③「面接準備シート」の顔写真に関しては、<b>Wordファイルの「写真を貼付」の枠内に貼り付けてください。</b>また、そこに貼り付けることが難しい場合はメールに添付してください。（顔写真は大学入学後の写真で、自身の顔が分かるものにしてください。）</p>
<p class="p6">④面接時間に関してはこちらから指定しメールでお伝えしますので、<b>4月1日は終日予定をあけておいてください。</b>もし、確実に予定が入っている時間があれば課題提出の際にメールに記入してください。</p>
<p class="p4"><br></p>
<p class="p4"><br></p>
<p class="p6">質問等ございましたら、お気軽にmorozemi15th@gmail.comにご連絡ください。</p>
<p class="p4"><br></p>
<p class="p4"><br></p>
<p class="p4"><br></p>

</body>
</html>